<div class="container-fluid siteFooter m-0" >
	<div class="row p-5 " >
		<div class="col-12 col-md m-3 ">
			<h1 class="segmentHeading" > <span class="emph" >aurparho</span></h1>
			<p class="segmentPara" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
		</div> 
		<div class="col-12 col-md m-3 ">
			<h1 class="segmentHeading" > <span class="emph" >important links</span> </h1>
			<div class="importantLink" >
				<a href="#">HOME <br></a>
				<a href="#">ABOUT <br></a>
				<a href="#">CONTACT US <br></a>
				<a href="#">BROWSE NOTES <br></a>
				<a href="#">SEARCH FOR NOTES <br></a>
				<a href="#"> <span class="emph" > SUPPORT THIS WEBSITE</span> </a>
			</div>
		</div>
		<div class="col-12 col-md m-3">
			<h1 class="segmentHeading" > <span class="emph" > AND REMEMBER:</span> </h1>
			<p class="segmentPara" >“If you are planning for a year, sow rice; if you are planning for a decade, plant trees; if you are planning for a lifetime, educate people” <br><span class="emph" >~ Chinese Proverb</span> </p>
		</div>
	</div>
	<hr class="horizontalrule" >
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-4">
			<p class="endCredits" >COPYRIGHTS 2020</p>
		</div>
		<div class="col-12 col-md-4">
			<p class="endCredits" >MADE AND MAINTAINED BY <span class="emph" >BASSAM AHMED</span></p>
		</div>
		<div class="col-12 col-md-4">
			<p class="endCredits" > ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>	
	
	
	
	
	
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	
	</body>
</html>