<footer class="mt-5">
<div class="container-fluid siteFooter m-0" >
	<div class="row p-5 " >
		<div class="col-12 col-md m-3 ">
			<h1 class="segmentHeading" > <span class="emph" >aurparho</span></h1>
			<p class="segmentPara" >Digital, and yet handwritten. Colorful, yet meaningfully so. These are <span class="emph"> the next-level notes</span> you need when textbooks and your teacher's notes just won't cut it, made available <span class="emph">by students, for students</span></p>
		</div> 
		<div class="col-12 col-md m-3 ">
			<h1 class="segmentHeading" > <span class="emph" >important links</span> </h1>
			<div class="importantLink" >
				<a href="/notes">HOME <br></a>
				<a href="/about">ABOUT <br></a>
				<a href="/notes/contactus">CONTACT US <br></a>
				<a href="/notes/browse">BROWSE NOTES <br></a>
				<a href="/notes/requestnote">REQUEST A NOTE<br></a>
				<a href="https://ko-fi.com/baamahmed"> <span class="emph" > SUPPORT THIS WEBSITE</span> </a>
			</div>
		</div>
		<div class="col-12 col-md m-3">
			<h1 class="segmentHeading" > <span class="emph" > AND REMEMBER:</span> </h1>
			<p class="segmentPara" >“If you are planning for a year, sow rice; if you are planning for a decade, plant trees; if you are planning for a lifetime, educate people” <br><span class="emph" >~ Chinese Proverb</span> </p>
		</div>
	</div>
	<hr class="horizontalrule" >
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-4">
			<p class="endCredits" >COPYRIGHTS 2020</p>
		</div>
		<div class="col-12 col-md-4">
			<p class="endCredits" >MADE AND MAINTAINED BY <a href="https://www.linkedin.com/in/bassam-ahmed-510044138/" class="emph" >BASSAM AHMED</a></p>
		</div>
		<div class="col-12 col-md-4">
			<p class="endCredits" > ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>	
	
	
	
	
	
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	</footer>
	</body>
</html>