<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-00Y8XV9WNX"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-00Y8XV9WNX');
		</script>
		
		<!-- Google AdSense -->
		<script data-ad-client="ca-pub-8318261571047791" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	
		
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
		
		<link rel="icon" href="https://i.ibb.co/C04HkfF/favicon.png">
		<link rel="stylesheet" type="text/css" href="slick/slick.css"/>


		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">

		<title>
		<% if (!(nonNotePage)) { %>
			<%= note.title %>
		<% } else { %>
			AurParho | The Notes Central
		<% } %>
			</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/show.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>
	<nav class="navbar navbar-dark bg-darkCustom navbar-expand-lg py-3 mb-4 " >
		<div class="container-fluid p-0" id="navbarContainer">
			<div class="m-0 row container-fluid justify-content-center">
				<div class="col" id="leftEmblem">
					<a href="/notes" class='aurparho'>AP</a>
				</div>
				<div class="col  d-none d-sm-inline" id="centralLogo">
					<a class='aurparho' href="/notes">AURPARHO</a>
				</div>
				<div class="col" id="mainNav">
					<!-- <nav class="nav justify-content-end">
						<a class="nav-link active" href="#">HOME</a>
						<a class="nav-link" href="#">BROWSE</a>
						<a class="nav-link" href="#">SEARCH</a>
						<a class="nav-link" href="#">ABOUT</a>
					</nav> -->
					<button class="navbar-toggler p-0 m-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="special"><i class="fas fa-bars"></i></span> 
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link" href="/notes">HOME</a>
							<a class="nav-link" href="/notes/browse">BROWSE</a>
							<a class="nav-link" href="/about">ABOUT</a>
							<a class="nav-link" href="/notes/contactus">CONTACT</a>
							<a class="nav-link" href="https://www.youtube.com/channel/UCMNt3OYNFe-bYcCT_a1g86w">VIDEOS</a>
							<a class="nav-link" href="https://ko-fi.com/baamahmed" target="_blank" rel="noopener noreferrer" > <span class="emph" > DONATE</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

