<%- include ("./partials/header") %>
<div class="container">
    <div class="row d-flex mb-5">
        <div class="col-lg-9 col-12 mb-3 p-0 ">
            <div class="mainSegment container pt-5 px-5 w-100 h-100">
                <h1 class="segmentHeading">About <span class="emph">me</span></h1>
                <p class="segmentPara">Hello! Bassam here. I'm an AS student currently enrolled in Nixor College and this is my spare-time-creative-and-technical-and-helpful project!</p>
                <p class="segmentPara">This project essentially started as me being too lazy to send numerous people the individual notes that they wanted. From hybridization in AS Chemistry to Specialisation and Trade in O Levels Economics, sending PDFs on WhatsApp eventually became too tedious. So I made AurParho, essentially a "hub" for my notes, so that I could help more people with less effort. </p>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="thumbnail h-100">
                <img src="https://i.ibb.co/MsxZLh0/Untitled-Artwork-1.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <hr class="mb-5 horizontalrule">
    <div class="row d-flex mb-5">
        <div class="col-lg-3 col-12 mb-3">
            <div class="thumbnail h-100">
                <img src="https://i.ibb.co/4P4PvG7/Untitled-Artwork-2.png" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-lg-9 col-12 p-0 ">
            <div class="mainSegment container pt-5 px-5 w-100 h-100">
                <h1 class="segmentHeading">Our <span class="emph">mission</span></h1>
                <p class="segmentPara">Simply put, to make your life easier. COVID has already had a massive impact on our day-to-day lives. Whether you felt this in the form of added academic pressure, increased mental stress, or the worst of all, loss of a loved one, we have all been deeply affected by this worldwide academic. </p>
                <p class="segmentPara">Hence, AurParho was created to provide some sort of relief, however small and insignificant it may be, from the academic pressure experienced by students everywhere. </p>
            </div>
        </div>
    </div>
    <hr class="mb-5 horizontalrule">
    <div class="row d-flex mb-5">
        <div class="col-lg-9 mb-3 col-12 p-0 ">
            <div class="mainSegment container pt-5 px-5 w-100 h-100">
                <h1 class="segmentHeading"><span class="emph">help</span> out</h1>
                <p class="segmentPara">Did you like what we do? If yes, then please let us know through the <a href="/notes/contactus" class="emph">contact form</a>. Hearing for people that found this website helpful would be the best motivation for me to continue developing stuff like this. Heck, fill out the contact form just to say hi! If you <em>really</em> like what we do, then consider <a class="emph" href="https://ko-fi.com/baamahmed">donating</a>.</p>
                <p class="segmentPara">If you think there's some way in which AurParho could be improved, please do let us know by filling out the same form, and we'll do our best to correct it.</p>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="thumbnail h-100">
                <img src="https://i.ibb.co/hMYM3S7/Untitled-Artwork-3.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
    <div class="container mainSegment p-5 w-100">
        <h1 class="segmentHeading"> <span class="emph">Special</span> thanks</h1>
        <p class="segmentPara">I have much gratitude for the people listed below, the alpha testers, who continued to provide important and insightful feedback on the website as I built it, regardless of how insignificantly I had improved it from the previous iteration.</p>
        <p class="segmentPara"> <span class="emph"> Sabeer Asad | Wasil Fawad | Mikael Aziz | Zuhair Khalid | Momin Rizvi | Hisan Maggoon | Sameer Kamani</span></p>
        <p class="segmentPara">As well as to <span class="emph">Rayaan Faisal</span>, because of whom I was able to get the <span class="emph">aurparho.live</span> domain.</p>
    </div>

<%- include ("./partials/footer") %>
