<%- include ("./partials/header") %>
<div class="container mainSegment p-5">
    <h1 class="segmentHeading mb-0" style = "text-align: center;" ><span class="emph">OOPS!</span></h1>
    <p class="segmentPara mb-4 " style="text-align: center;" >Did you get lost?</p>
    <div class="thumbnail mb-4">
        <img class="img-responsive" src="https://i.ibb.co/7KDBygg/Untitled-Artwork.png" alt="404-error-pic">
    </div>
    <a href="/" class="d-flex justify-content-center p-3 notFoundButton">Return Home</a>
</div>
<%- include ("./partials/footer") %>
