<%- include ("../partials/header") %>

<div class="container mainSegment contactForm p-4 p-sm-5" >
    <h1 class="segmentHeading " > <span class="emph" >contact us</span> </h1>
    <p class="segmentPara" > Use the following form if you want to report any issues with any of the notes, if you want to give feedback on the website, or if you just wanna say hi!</p>

    <p class="segmentPara mb-5"> <span class="emph">However</span>, if you want to request new notes that you'd like to be added here, please use <a href="" class="emph" style="text-decoration: underline;">this form</a>  instead.</p>   

    <form action="https://mailthis.to/livbassam@gmail.com" method="POST">
        <input required type="email" name="email" placeholder="Your email address here" class="formField mb-2 fullwidth">
        <input required type="text" name="firstName" placeholder="First Name" class="formField halfwidth mb-2">
        <input required type="text" name="lastName" placeholder="Last Name" class="formField halfwidth mb-4">
        <textarea required name="mainText" placeholder="Go ahead, we're listening..." id="" cols="30" rows="7" class="formText p-4 fullwidth mb-4"></textarea>
        <input type="submit" value="SUBMIT" style="text-align: center;" class="mainSearchButton">
    </form>

</div>

<div class="container mainSegment p-5 d-flex justify-content-center">
	<p class="segmentHeading" >AD SPACE</p> 
</div>
<%- include ("../partials/footer") %>
